In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("GlobalWatchData/trollers.csv")

In [12]:
df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,7.652701e+13,1.337836e+09,0.0,3162.200195,0.0,0.000000,51.887592,4.356583,-1.0,gfw
1,7.652701e+13,1.338199e+09,0.0,4999.877441,0.0,0.000000,51.242130,4.403008,-1.0,gfw
2,7.652701e+13,1.343752e+09,0.0,66308.250000,8.6,292.200012,51.960873,5.196125,-1.0,gfw
3,7.652701e+13,1.350795e+09,0.0,15296.682617,0.0,0.000000,51.231094,4.526647,-1.0,gfw
4,7.652701e+13,1.351808e+09,0.0,15296.682617,0.0,0.000000,51.231098,4.526487,-1.0,gfw

In [13]:
condition = (df["lat"] > 56.197894) & (df["lat"] < 57.541) & (df["lon"] > 9.931) & (df["lon"] < 12.720355)
kattegat_df = df[condition]

In [14]:
kattegat_df.head(10)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
16442,1.129409e+14,1.399886e+09,999.975464,1414.178833,0.0,248.500000,57.109638,12.241529,-1.0,gfw
16443,1.129409e+14,1.399887e+09,999.975464,1414.178833,0.0,0.000000,57.109634,12.241533,-1.0,gfw
16444,1.129409e+14,1.399889e+09,999.975464,1414.178833,0.0,241.199997,57.109612,12.241527,-1.0,gfw
16445,1.129409e+14,1.399890e+09,999.975464,1414.178833,0.0,0.000000,57.109608,12.241535,-1.0,gfw
16446,1.129409e+14,1.399891e+09,999.975464,1414.178833,0.0,0.000000,57.109638,12.241545,-1.0,gfw
16447,1.129409e+14,1.399892e+09,999.975464,1414.178833,0.0,205.500000,57.109627,12.241515,-1.0,gfw
16448,1.129409e+14,1.399893e+09,999.975464,1414.178833,0.0,220.300003,57.109638,12.241545,-1.0,gfw
16449,1.129409e+14,1.399894e+09,999.975464,1414.178833,0.0,55.000000,57.109627,12.241545,-1.0,gfw
16450,1.129409e+14,1.399895e+09,999.975464,1414.178833,0.2,87.800003,57.109627,12.241550,-1.0,gfw
16451,1.129409e+14,1.399898e+09,999.975464,1414.178833,0.0,0.000000,57.109627,12.241517,-1.0,gfw

In [15]:
kattegat_df["timestamp"] = pd.to_datetime(kattegat_df["timestamp"], unit='s')

<ipython-input-15-6794f6f37f3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kattegat_df["timestamp"] = pd.to_datetime(kattegat_df["timestamp"], unit='s')

In [16]:
kattegat_df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
16442,1.129409e+14,2014-05-12 09:13:25,999.975464,1414.178833,0.0,248.500000,57.109638,12.241529,-1.0,gfw
16443,1.129409e+14,2014-05-12 09:28:26,999.975464,1414.178833,0.0,0.000000,57.109634,12.241533,-1.0,gfw
16444,1.129409e+14,2014-05-12 09:58:24,999.975464,1414.178833,0.0,241.199997,57.109612,12.241527,-1.0,gfw
16445,1.129409e+14,2014-05-12 10:13:24,999.975464,1414.178833,0.0,0.000000,57.109608,12.241535,-1.0,gfw
16446,1.129409e+14,2014-05-12 10:34:23,999.975464,1414.178833,0.0,0.000000,57.109638,12.241545,-1.0,gfw

In [17]:
isFishing_df = kattegat_df[kattegat_df["is_fishing"] != -1]
isFishing_df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
48851,1.129409e+14,2015-08-03 22:07:45,999.975464,1414.178833,0.0,237.500000,57.109638,12.241542,1.0,gfw
48852,1.129409e+14,2015-08-03 22:25:41,999.975464,1414.178833,0.0,228.600006,57.109638,12.241555,1.0,gfw
48853,1.129409e+14,2015-08-03 22:40:43,999.975464,1414.178833,0.0,0.000000,57.109638,12.241558,1.0,gfw
48854,1.129409e+14,2015-08-03 22:55:44,999.975464,1414.178833,0.0,0.000000,57.109638,12.241555,1.0,gfw
48855,1.129409e+14,2015-08-03 23:10:45,999.975464,1414.178833,0.0,0.000000,57.109627,12.241540,1.0,gfw

In [18]:
grouped_isFishing_df = isFishing_df.groupby("mmsi")
grouped_isFishing_df.first().head()

,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
mmsi,,,,,,,,,
1.129409e+14,2015-08-03 22:07:45,999.975464,1414.178833,0.0,237.500000,57.109638,12.241542,1.0,gfw
1.670724e+14,2015-07-30 11:33:51,25631.382812,92760.859375,1.3,330.799988,57.367439,11.409398,0.0,gfw

In [19]:
noInfo_df = kattegat_df[kattegat_df["is_fishing"] == -1]
noInfo_df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
16442,1.129409e+14,2014-05-12 09:13:25,999.975464,1414.178833,0.0,248.500000,57.109638,12.241529,-1.0,gfw
16443,1.129409e+14,2014-05-12 09:28:26,999.975464,1414.178833,0.0,0.000000,57.109634,12.241533,-1.0,gfw
16444,1.129409e+14,2014-05-12 09:58:24,999.975464,1414.178833,0.0,241.199997,57.109612,12.241527,-1.0,gfw
16445,1.129409e+14,2014-05-12 10:13:24,999.975464,1414.178833,0.0,0.000000,57.109608,12.241535,-1.0,gfw
16446,1.129409e+14,2014-05-12 10:34:23,999.975464,1414.178833,0.0,0.000000,57.109638,12.241545,-1.0,gfw

In [26]:
grouped_noInfo_df = noInfo_df.groupby("mmsi")
grouped_noInfo_df.first().head()

,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
mmsi,,,,,,,,,
1.129409e+14,2014-05-12 09:13:25,999.975464,1414.178833,0.0,248.500000,57.109638,12.241529,-1.0,gfw
1.670724e+14,2013-10-23 12:33:28,5999.852539,8062.060059,8.1,340.799988,56.205635,12.477758,-1.0,gfw